.chat {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: white;
    overflow-x: auto;
}

.chat-footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
}

.chat-footer input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.chat-footer .send-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.chat-footer .send-btn:hover {
    background-color: #0056b3;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    height: calc(100% - 10%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.chat-container::-webkit-scrollbar {
    width: 12px;
}

.chat-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 60%;
    word-wrap: break-word;
}

.mine {
    background-color: #d0e8ff;
    text-align: right;
    align-self: flex-end;
}

.other {
    background-color: #f0f0f0;
    text-align: left;
    align-self: flex-start;
}