/* Start Header */
header {
    background-color: #eeeeee;
    padding: 0px 0px 0px 64px;
    height: 55px;
    top: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px gray;
    display: flex;
}

header li,
a,
button {
    text-decoration: none;
    /* color: #9fe7f5; */
    color: black;
    font-weight: 500;

}

header .navigation {
    list-style: none;
    padding-right: 100px;
    font-size: 16px;
    display: flex;
}

header .navigation li {
    display: inline-block;
    padding: 0px 20px;
}

header .navigation li a {
    transition: all 0.3s ease 0s;
}

header .navigation li a:hover {
    color: #429ebd;
}

header .navigation .contact {
    border: none;
    border-radius: 40px;
    background-color: var(--secondery-color);
    transition: all 0.3s ease 0s;
    padding: 5px 25px;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 700;
    height: 38px;
    margin-top: 6px;
}

header .navigation .contact:hover {
    background-color: #429ebd;
}

/* End Header */
.container {
    width: 100%;
    flex-direction: row-reverse;
    height: 89vh;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    display: flex;
}


.container .text {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 700px;
    position: relative;
}


.container .text .welcome {
    display: flex;
    flex-direction: row;
}

.container .text .welcome span {
    font-size: 70px;
    font-weight: 900;
    color: #f7ad19;

}


.container .home-h2 {
    font-family: 'Roboto', sans-serif;
    /* color: #f7ad19; */
    color: #f7a5c6;
    font-size: 35px;
}

.container .wel {
    font-size: 80px;
    color: #f36bab;
    /* color: #f7ad19; */
    /* color: #f27f0c; */
}

.container .text p {
    line-height: 1.8;
    color: #555;
    font-size: 19px;
}

.container .home-img {
    width: 50%;
    height: 100%;
}

/* End main page */

.home-img-container {
    max-height: 89vh;
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    right: 50px;
}

.home-img {
    width: 100%;
    height: auto;
}