.menu-item {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #3c4043;
}

/* .menu-item:hover {
    background-color: blue;
} */
.ps-menu-button {
    transition: all 0.5s ease 0s;
    height: 43px !important;
    display: inline;
    /* background-color: #444444; */
    border-radius: 30px;
}

.ps-menu-button:hover {
    /* background-color: #c4c7c5 !important; */
    background-color: rgb(60, 64, 67, 0.1) !important;
    transition: all 0.5s ease 0s;
    color: rgba(0, 0, 0, 0.87) !important;
}

.ps-menu-button:active {
    background-color: rgb(60, 64, 67, 0.4) !important;
    transition: all 0.5s ease 0s;
}

.css-ewdv3l {
    margin-left: 3px !important;
}

.css-wx7wi4 {
    margin-left: 6px;
    justify-content: left !important;
}

.css-12w9als {
    font-weight: 600;
}



.Sidebar {
    background: linear-gradient(to left, #e3f2fd, #ffffff) !important;
    /* box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1); */
}

.css-dip3t8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #1e1f20 !important; */
    background-color: #f0f4f9 !important;
}

.Sidebar h4 {
    color: #2E86C1;
}

.css-1wvake5 {
    border: none !important;
}