.SubjectsSideBar-container {
    width: 55%;
    height: calc(100% - 107px);
    background-color: azure;
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 40px;
    padding: 25px;

}

.subject-h1 {
    text-align: center;
    padding: 25px;
}