.SubjectsSideBar-container {
    width: 55%;
    height: calc(100% - 107px);
    background-color: azure;
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 40px;
    padding: 25px;
    box-shadow: 0px 0px 5px #999999;
    align-items: center;

}

.subject-h1 {
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:768px) {
    .SubjectsSideBar-container {
        width: 100%;
        top: 0;
        padding: 0px;
    }

    .subject-h1 {
        text-align: center;
        padding: 0px;
    }
}