/*mobile view */
@media (max-width: 767px) {
    .desktop-Sidebar {
        display: none;
    }

    .mobile-Sidebar {
        display: block;
    }

    .css-ewdv3l li a {
        flex-direction: column;
    }

    .css-ewdv3l li a span {
        margin-right: 0px;
    }
}

/* non-mobile view */
@media (min-width: 768px) {
    .desktop-Sidebar {
        display: block;
    }

    .mobile-Sidebar {
        display: none;
    }
}

.desktop-Sidebar {
    /* background: #202225; */
}