.Subjects-container {
    width: 100%;
    flex-direction: column;
    height: 80vh;
    position: relative;
    align-items: flex-start;
    background-size: cover;
    display: flex;
    background: linear-gradient(to left, #e3f2fd, #ffffff);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);


}

.subject-h2 {
    text-align: center;
    width: 100%;
    position: relative;
    color: #2E86C1;
}

@media screen and (max-width:768px) {
    .Subjects-container {
        width: 100%;
        top: 0;
        padding: 0px;
    }

    .subject-h1 {
        text-align: center;
        padding: 0px;
    }
}

.subjectList-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}